*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color:rgb(175, 125, 59);
    background-size: cover;
}
header {
    height: 100px;
    background: rgb(22, 10, 1);
    width: 100%;
    z-index: 10;
    position: fixed;
}
nav{
    background: rgb(175, 125, 59);
    height: 100px;
    width: 100%;
    z-index: 10;
    position: fixed;
    
}

label.logo{
    color: white;
    font-size: 30px;
    line-height: 100px;
    padding: 0 150px;
    
   float: left;
}
nav ul{
    float: right;
    margin-right: -10px;
    padding: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

section{
    width: 100%;
    height: 1000px;
}
.container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 100px;
}
.container .card{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color:rgba(133, 77, 4, 0,669) ;
    visibility: hidden;
}
.container .card:hover{
    visibility: visible;
}
.container .card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-30%);
    height: 350px;
    width: 290px;
    transition: 0.5s;
    visibility: visible;
}
.container .card:hover img
{
    left: 85%;
    height: 400px;
    -webkit-background-composite: inherit;
    visibility: visible;
}
.container .card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.container .card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.container .card .content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}
.container .card .content p{
    color: #fff;
}
.container .card .content a{
    position: relative;
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}
@media (max-width: 991px)
{
    .container .card{
        width: auto;
        max-width: 550px;
        align-items: flex-start;
    }
    .container .card:hover{
        height: 600px;
    }
    .container .card:hover img{
        left: 50%;
        height: 350px;
    }
    .container .card .content{
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
.block{
    display: block;
}
.card.content.img {
    width: 150px;
}